@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.outerCont{
    max-width: 100vw;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}
.top img{
margin-left: 1rem;
margin-top: 1rem;
}
.dataCont{
    display: grid;
    grid-template-columns:50% 50%;
    margin: auto;
}
.dataCont .left{
    display: flex;
    flex-direction: column;
}
.dataCont .left h1{
    font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 2.8rem;
line-height: 68px;
text-align: center;
text-transform: capitalize;
color: rgba(42, 114, 222, 1);
margin: auto;
}
.dataCont .left h3{
    font-family: 'Quicksand';
font-style: normal;
font-size: 2rem;
margin: auto;
}
.dataCont .left h3 span{
    color: rgba(42, 114, 222, 1); 
}
.left button{
    width: 150px;
height: 50px;
background: #2A72DE;
border: 1.57147px solid #2A72DE;
border-radius: 24px;
font-family: 'Quicksand';
font-style: normal;
color: #FFFFFF;
font-size: 18px;
line-height: 14px;
margin: auto;
margin-top: 0;
cursor: pointer;
}
.right{
    display: flex;
}
.right img{
    margin: auto;
    width: 80%;
}


@media(max-width:980px){
    .dataCont,.first_third_dataCont{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 2.5rem;
    }
    .left button{
        margin-top: 1.5rem;
    }
    .right img{
        margin: auto;
        width: 40%;
        margin-top: 2.5rem;
    }
    .imageForShow_third{
        position: relative;
        width: 200px;
        height: 200px;
        margin: auto;
    } 
    .first_third_dataCont_left textarea{
        width: 80%;
    } 
}