.knowledge {
  min-height: 100vh;
  max-height: max-content;
  width: 100%;
  /* margin: 8rem 20rem; */
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  color: #fff;
  background-color: rgba(3, 11, 24, 1);
  padding: 1rem 0rem;
}

.knowledge_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
  color: #fff;
}

.knowledge_heading > h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.knowledge_heading > h3 > span {
  background: linear-gradient(
    to right,
    rgba(0, 179, 255, 1),
    rgba(76, 201, 255, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.knowledge_img {
  width: 100%;
}

.knowledge_img > img {
  object-fit: cover;
  width: 98%;
}

.slider::before {
    display: none;
}
.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
  color: #fff;
}

.knowledge_cards_container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.knowledge_card_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.knowledge_card_head > h5 {
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #5b89ce;
}

.knowledge_card_head > div {
  display: flex;
  cursor: pointer;
}

.knowledge_card_head > div > span {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #0058dd;
}

.knowledge_cards {
  /* width: 100%; */
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
  margin: auto;
  margin-top: 1rem;
}

.card_navbar {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 60%;
  margin: auto;
  margin-top: 2rem;
  color: var(--main-text);
  border-bottom: 2px solid #e1e1e1;
}

.chooserLink {
  margin: auto;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding: 0 1rem;
  text-transform: capitalize;
  font-family: "Poppins" !important;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 22px;
  color: #717171;
}

.underLine {
  width: 110px;
  transition: all 0.7s ease-out;
  height: 4px;
  background-color: #2a72de;
  margin: auto;
  position: absolute;
  bottom: -80%;
  left: -6%;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .knowledge {
    /* margin: 8rem 2rem auto 19rem; */
  }
}

@media (max-width: 990px) {
  .knowledge_cards {
    flex-direction: column;
  }
}

@media (max-width: 1400px) {
  .knowledge_cards {
    flex-wrap: wrap;
  }
}
