#changePassContainer{
    width: 100%;
    min-height: 60vh;
    background-color:var(--bg-clr);
    display: flex;
    flex-direction: column;
}
.changePassContainer-title{
    width: 100%;
    text-align: center;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
color: var(--main-text);

}
.changePassContainer-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background-color: transparent;
}

.changePassContainer-input{
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: rgba(95, 95, 95, 0.2);
    border: none;
    font-family: 'Poppins';
    color: var(--main-text);
}
.changePassContainer-input::placeholder{
    color: var(--main-text); 
}
.changePassContainer-input:focus{
    outline: none;
}
.changePassContainer-button{
    border-radius: 4px;
    padding: 0.5rem 5rem;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    border: none;
    background: #2a72de;
    box-shadow: 0px 4px 4px rgb(255 255 255 / 25%);
    border-radius: 4px;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.changePassContainer_otp_send_message{
    text-align: center;
    margin-top: 1rem;
}
@media(max-width:1024px){
    .changePassContainer-input{
        width: 70%;
    }
}

@media(max-width:800px){
    .changePassContainer-input{
        width: 70%;
    }
    .changePassContainer-form{
        width: 90%;
    }
}

@media(max-width:600px){
    #changePassContainer{
        padding-top: 4rem;
    }
}