.welcome {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 1rem;
  gap: 1rem;
  border-radius: 12px;
}

.knowledge {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13rem;
}

#community__intro {
  margin: auto;
  width: 93%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.community__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 50%;
}

.community__intro_heading > h1 {
  font-size: 40px;
  margin: 2.5rem 0;
}

.community__text_content > p {
  font-size: 20px;
  line-height: 30px;
}

.community__buttons {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.community__buttons > a > button {
  padding: 8% 0;
  font-size: 16px;
  height: max-content;
  width: 12rem;
  margin: 5.5rem 1rem 5.5rem 0;
  border-radius: 8px;
  outline: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.community__buttons_blue_btn {
  background: #2a72de;
  color: white;
  border: none;
}

.community__buttons_join_us {
  background: white;
  color: rgba(0, 119, 183, 1);
  border: 3px solid rgba(42, 114, 222, 1);
}

.community__buttons_join_us > a {
  text-decoration: none;
  color: rgba(0, 119, 183, 1) !important;
}

.community__images {
  margin: -3.5rem 1rem 2rem auto;
  display: flex;
  gap: 2rem;
}

.community__images_div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.community__images_div > img {
  width: 7rem;
}

.joinus_dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.95;
  right: 7rem;
}

#joinus_options,
#joinus_options_phn {
  height: fit-content;
  z-index: 999;
  display: none;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 1rem;
  margin-top: -2.6rem;
}

#joinus_options > a,
#joinus_options_phn > a {
  text-decoration: none !important;
  padding: 0 !important;
  margin: 0 !important;
  color: white;
}

#joinus_options > a:hover {
  border: none !important;
}

.joinus_option {
  padding: 0.5rem;
  font-weight: 700;
  width: 11rem;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 119, 183, 1) !important;
}

/* section2 */
.bigpara {
  text-align: center;
}

.community__heading {
  text-align: center;
}

.bigImg {
  margin: auto;
  display: block;
  max-width: 550px;
}

@media(max-width:600px){
  .knowledge {
    
    margin-top: 0rem;
  }
}