.otp {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 1rem;
  text-align: center;
}

.getStarted {
  width: 60%;
}

.getStarted > h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 75px;
}

.getStarted > h1 > span {
  font-family: "Philosopher", sans-serif;
  color: rgba(42, 114, 222, 1);
}

.para {
  width: 65%;
}

.para > p {
  font-size: 16px;
  line-height: 24px;
}

.otpForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.otpForm > .otpInputs > input {
  width: 66px;
  height: 66px;
  background: rgba(95, 95, 95, 0.2);
  color: black;
  font-size: large;
  border-radius: 4px;
  border: none;
  outline: none;
  text-align: center;
}

.otpInputs {
  display: flex;
  gap: 1rem;
}

.resend {
  /* width: fit-content; */
  background: #2a72de;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  padding: 0.5rem 5rem;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  /* line-height: 36px; */
  /* margin: 1rem 0; */
  outline: none;
  border: none;
}

.resend:disabled {
  background: #69a5ff;
  cursor: not-allowed;
}
