.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  background-color: #1a1e28;
}

.container > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.container > button {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  margin-top: 10px;
  background: linear-gradient(to right, #00b3ff, #4cc9ff);
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
