#SharedPostCard{
    height: max-content;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--bg-card);
    border-radius: 19px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-family: 'Poppins';
font-style: normal;
box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
margin-top: 2rem;
color: var(--main-text);
}
.SharedPostCardTop{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
}
.postAuthorName{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}
.postAuthorDesignation{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--main-text);
}
.postAuthorName{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}
.postAuthorDesignation{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--main-text);
}
.postUploadDateContainer{
    margin-left: auto;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}
.postTextContainer{
    width: 100%;
word-break: break-all;
margin-top: 1rem;
margin-bottom: 1rem;

font-weight: 600;

}
.postSharedLikeCountText{
    margin: auto;
    /* margin-left: 0.5rem; */
    margin-right: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}
.postText{
    font-weight: lighter;
    font-size: 1rem!important;
}
.morePostTextButton{
    color: #2A72DE;
    cursor: pointer;
    font-size: .9rem;
}
.postImageContainer{
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 1.5rem;
}
.postImage{
    width: 90%;
    margin: auto;
}
.postLikesAndCommentContainer{
    display: flex;
    margin-top: 2.5rem;
}
.postLikesContainer{
    display: flex;
    margin: auto;
}
.postLikesContainerLikeIcon{
    width: fit-content;
    margin-right: .5rem;
    cursor: pointer;
}
.postLikeCount,.postCommentCount{
    font-size: 1.2rem!important;
    
}
.postLikeCount{
    margin-top: .2rem;
}
.postCommentContainer{
    display: flex;
    margin: auto;
}
.commentContainer{
    display: flex;
}
.commentPostIcon{
    width: 30px;
    margin-right: .5rem;
    cursor: pointer;
}
.commentPostIconn{
    font-size: 1.8rem;
    margin: auto;
    margin-right: .5rem;
}
.postSendLinkContainer{
    margin: auto;
    cursor: pointer;
}
.postSendCont{
    display: flex;
}
.postSendIcon{
    width: 28px;
    height: 28px;
}
.postSendText{
    margin-left: .25rem;
    font-family: 'Poppins';
    font-size: 1.2rem!important;
}
.threeDotsMainCont{
    margin:auto ;
}
.threeDotsContainer{
    margin-left: auto;
    width: fit-content;
    position: relative;
}
.threeDotsPost{
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.moreRandomText{
    display: flex;
    align-items: center;
    margin-left: 0.25rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem!important;
    margin-left: .5rem;
}
.standardThreeDotsOption{
    width: 110px;
    height: 50px;
    background-color: var(--bg-clr);
    border-radius: 7px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);  
}
.threeDotsOptions{
    width: 100px;
    height: 100px;
    background-color: var(--bg-sub-card);
    border-radius: 7px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%); 
    z-index: 2; 
}
.threeDotsDeletePostOption{
    color: red;
    margin: auto;
    cursor: pointer;
}
.threeDotsEditPostOption,.threeDotsReportPostOption{
    margin: auto;
    cursor: pointer;
    color: var(--main-text);
}

/* COMMENT SECTION */
.newCommentOnPostSection{
    width: 90%;
    height: max-content;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius:19px;
    margin: auto;
    margin-bottom: 2.5rem;
    padding: 1rem;
    background-color: #e6e4e4dc;
    background-color: var(--bg-card);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin-bottom: 10rem;
}
.uploadPostContainerrrrSection{
    display: flex;
    flex-direction: column;
}
.newCommentContainerrrr{
    display: flex;   
    margin-bottom: 1.5rem; 
}
.communityNewCommentContUserImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 1.2rem;
    margin-right: 1rem;
}
.textAreaUploadContainer{
    position: relative;
    width: 90%;
}
#postCommentContainerExpanded{
    height: fit-content;
    width: 92%;
    padding-left: 0.5rem;
    font-size: 18px;
    background-color: var(--comment-card);
    border: 2px solid #2A72DE;
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--main-text);
    
}
.addImageandUploadPostIcon{
    display: flex;
    width: 93.9%;
    align-items: center;
    margin-bottom: 0rem;
    padding-bottom: .7rem;
    border: none;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1rem;
    margin-top: -6px;
    
    background-color: var(--bg-card);
    width: 92%;
    padding-right: 16px;
}
.uploadPostIconButton{
    margin-left: auto;
    background: #2A72DE;
border-radius: 10px;
padding: 2px 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
color: white;
border: none;
cursor: pointer;

}

@media(max-width:550px){
    .moreRandomText,.postSendText,.postSharedLikeCountText{
        display: none;
    }
}