@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.outerCont{
    width: 95%;
    min-height: 40vh;
    padding: 1rem;
    margin: auto;
    /* margin-top: 1.5rem; */
    font-family: "Quicksand";
}

.title{
font-style: normal;
font-weight: 700;
font-size: 1.5rem;
line-height: 36px;
letter-spacing: 0.01em;
color:white;
}

.pptCont{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
}
.loadMoreImg{
    position: absolute;
    right: 0;
    top: -3rem;
    /* width: 150px; */
    cursor: pointer;
    color: #2a72de;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.loadMoreImgIcon{
    margin-left: .25rem;
    font-weight: 900;
    transform: rotate(-15deg);
    font-size: 1.5rem;
}
.pptOuterCont{
    width: 360px;
    /* width: 30%; */
height: 351px;
border-radius: 29.6471px;
background-color: rgba(26, 30, 40, 1);
}
.imgCont{
    /* border-top-left-radius:29.6471px ;
    border-top-right-radius:29.6471px ;  */
    width: 100%;
height: 150px; 
position: relative; 
margin: 10px 3px;
}
.img{
width: 90%;
height: 100%;
margin-left: 14px;
margin-top: 10px;
/* border-top-left-radius:29.6471px ;
border-top-right-radius:29.6471px ; */
}
.blackishCont{
    border-top-left-radius:29.6471px ;
    border-top-right-radius:29.6471px ; 
    width: 100%;
height: 201px; 
position: absolute;
top: 0;
filter: blur(.25px);
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
.viewBtn{
    /* border: 1.73282px solid #FFFFFF; */

    border-radius: 24px;
    border: 1px solid #00B3FF;

    filter: drop-shadow(0px 3.46564px 20.7938px rgba(0, 0, 0, 0.25));
    /* color: var(--blue, linear-gradient(97deg, #00B3FF 57.09%, #4CC9FF 100%));     */
    color: #00B3FF;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    /* color: var(--black, #000); */
    text-align: center;
    font-size: 15.68px;
    width: 160px;
/* height: 34px; */
background: transparent;
/* color: white; */
cursor: pointer;
}
.infoCont{
    width: 100%;
    height: 70px;
    border-bottom-left-radius:29.6471px ;
    border-bottom-right-radius:29.6471px ;
    display: flex;
    flex-direction: column;
}
.pptName{
    font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 16.8954px;
line-height: 28px;
letter-spacing: 0.03em;
color: white;
padding-left: 1rem;
padding-top: .25rem;
text-transform: capitalize;

}
.btnCont{
    display: flex;
    align-items: center;
    padding-left: 1rem;
padding-top: .5rem;
width: 200px;
}
.icon{
    font-size: 1.2rem;
    cursor: pointer;

}
.icon2{
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 2rem;  
}


.tags{
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}


.tagsButton{
    margin: 0px 10px;
    margin: 2px 2px;
    width: 80px;
    border-radius: 24px;
    border: solid 1px white;
    color: white;
    padding: 5px;
    background: transparent;
}

.download{
    /* width: 200px; */
    border-radius: 24px;
    width: 160px;
    /* border-radius: 85.527px; */
    background: var(--blue, linear-gradient(97deg, #00B3FF 57.09%, #4CC9FF 100%));    
    margin-top: 10px;
    padding: 5px;
    color: var(--black, #000);
    text-align: center;
    font-size: 13.68px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.314px;
}