#getFundingPage {
  min-height: 100vh;
  width: 95%;
  margin-left: 14.5rem;
  margin-top: 8rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  position: fixed;
}
.getFundingPageOuter {
  /* background: linear-gradient(
    119.93deg,
    rgba(255, 255, 255, 0.35) 4.68%,
    rgba(255, 255, 255, 0.3) 91.73%
  ); */
  background: var(--bg-clr);
  box-shadow: 0px 2.4417px 14.6502px -0.610425px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6.10425px);
  border-radius: 10px;
  margin: auto;
  margin-left: calc(30% - 10%);
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  position: fixed;
  overflow-y: scroll;
  background: transparent;
  border: 8px solid linear-gradient(#91C1FF 1.13%, #79C0DB 28.23%, #A2E1C4 60%, #C7FFAF 100%);
}
.getFundingPageOuter::-webkit-scrollbar {
  display: none;
}
.getFundingPageOuterIcon1 {
  position: absolute;
  z-index: -1;
  transform: scale(0.6);
  /* bottom: -50px;
  left: -350px; */
  left: 1rem;
  bottom: 0rem;
}
.getFundingPageOuterIcon2 {
  position: absolute;
  z-index: -1;
  transform: scale(0.8);
  /* right: -170px;
  top: -100px; */
  right: 15%;
}
.getFundingPageTitle {
  width: 100%;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: var(--main-text);
  padding-top: 2rem;
}

.getFundingPageForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
}

.getFundingPageFormInput {
  width: 70%;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
  background: rgba(95, 95, 95, 0.2);
  border: none;
  font-family: "Poppins";
  font-size: 18px;
  color: var(--main-text);
}
.getFundingPageFormInput::placeholder{
  color: var(--main-text)
}
.getFundingPageFormInput:focus {
  outline: none;
}

.uploadPitchDeckContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.pitchDeckUploadButton {
  position: absolute;
  right: 17%;
  top: 33.5%;
  font-size: 16px !important;
  /* background-color: #a1a3a6 !important; */
  background-color: #2a72de;
  padding: 12px 21px;
  font-weight: 600;
  border-radius: 10px;
  color: white;
  border: none;
  border: none;
  cursor: pointer;
}
.getFundingPage_CheckYourScoreCont{
  position: absolute;
  right: 11rem;
  z-index: 10;
}
.getFundingPage_CheckYourScoreCont_btn{
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 20px;
  background: transparent;
  /* box-shadow: 0px 4px 4px rgb(255 255 255 / 25%); */
  border-radius: 20px;
  border: none;
  background-color: #2a72de;
  color: white;
}
.getFundedPageApplyButton {
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: var(--btnNewColorTheme);
  font-size: 20px;
  background: transparent;
  /* box-shadow: 0px 4px 4px rgb(255 255 255 / 25%); */
  border-radius: 20px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid var(--btnNewColorTheme);
}
.getFundedPageApplyButton:hover{
  border: none;
  background-color: #2a72de;
  color: white;
}

@media (max-width: 1024px) {
  .getFundingPageOuter {
    width: 70%;
    margin: auto;
    margin-left: 2rem;
  }
}
@media (max-width: 875px) {
  #getFundingPage {
    width: 95%;
  }
  .getFundingPageForm {
    width: 90%;
  }
}
@media (max-width: 680px) {
  #getFundingPage {
    margin-left: 11rem;
  }
  .getFundingPageForm {
    width: 95%;
  }
}
@media (max-width: 600px) {
  #getFundingPage {
    margin: auto;
  }
  .getFundingPageForm {
    width: 101%;
  }
  .pitchDeckUploadButton {
    right: 12%;
  }
  .getFundingPageOuter {
    width: 90%;
  }
}
