.categoryCard {
  position: relative;
  width: 15rem;
  margin-top: 2rem;
  cursor: pointer;
}

.categoryCard > p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
.categoryCard > img {
  width: 100%;
  object-fit: cover;
  height: 8rem;
  border-radius: 16.468px;
  filter: brightness(50%);
}

@media (max-width: 768px) {
  .categoryCard {
    width: 12rem;
    margin-top: 1.5rem;
  }

  .categoryCard > p {
    font-size: 1rem;
  }

  .categoryCard > img {
    border-radius: 12px;
  }
}

@media (max-width: 480px) {
  .categoryCard {
    width: 12rem;
    margin-top: 1rem;
  }

  .categoryCard > p {
    font-size: 1rem;
  }

  .categoryCard > img {
    border-radius: 8px;
  }
}

