.input,
.textarea {
  width: 100%;
  margin-bottom: 1rem;
}

.input > p,
.textarea > p {
  color: var(--main-text);
  font-size: 14px;
  margin-bottom: 0.4rem;
}

.input > input,
.textarea > textarea {
  border: none;
  outline: none;
  width: 100%;
  color: var(--main-text);
  background: rgba(140, 139, 139, 0.2);
  border-radius: 5px;
}

.textarea > textarea {
  font-size: 13px;
  margin: 0;
  height: 40px;
}

.input > input::placeholder,
.textarea > textarea::placeholder {
  color: var(--main-text);
}
