.phnSidebar {
  display: block;
}

.navlink {
  text-decoration: none;
  color: var(--main-text);
}
.sidebar_final_icon_signout_cont{
display: flex;
align-items: center;  
cursor: pointer;
}
.sidebar_final_icon_signout_cont>img{
  width: 1.5rem;
  object-fit: contain;
}
.sidebar_final_icon_signout_cont>p{
  width: 75%;
  text-align: center;
  color: var(--main-text);
  font-size: 1rem;

}
@media (max-width: 600px) {
  .phnSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--bg-card);
    width: 60%;
    position: fixed;
    height: 100vh;
    z-index: 999;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    color: lightblue;
  }

  .phnSidebarOption {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
    cursor: pointer;
  }

  .xicon {
    width: 2.5rem;
    color: lightblue;
  }
  .fundingIcon{
    width: 1rem!important;
    object-fit: contain;
    margin-left: .25rem;
  }
  .fundingIconText{
    margin-left: .25rem;
  }
  .phnSidebarOption > img {
    width: 1.5rem;
    object-fit: contain;
  }
}
