#navbar-final{
    width: 100%;
    height: 102px;
    background-color: var(--comment-card);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 10000;
}
.navbar-brand-logo-img-cont{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 2rem;
}
.navbar-final-brand-logo-img{
    cursor: pointer;
    width: 85%;
}
.navbar-icons-cont{
    display: flex;
    margin-left: auto;
    margin-right: 5rem;
}
.nabar-final-setting-cont,.nabar-final-msg-cont,.nabar-final-userProfile-cont,.nabar-final-requestIcon-cont{
    cursor: pointer;
}
.nabar-final-requestIcon-cont{
    width: 25px;
}

.navbar-topp-social-icon{
    background:  var(--bg-sub-card);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
width: 43.65px;
height: 43.65px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-right: 3rem;
cursor: pointer;
}
.navbar-topp-social-icon:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.setting-social-icon-cont{
    position: relative;
}

.setting-dropdown-cont{
    width: 200px;
    height: 200px;
    background-color:  var(--bg-sub-card);
    border-radius: 6px;
    position: absolute;
    bottom: -15.5rem;
    display: flex;
    flex-direction: column;
    cursor: default;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}
.notifiction-dropdown-cont{
    width: 400px;
    height: fit-content;
    background-color:  var(--bg-sub-card);
    border-radius: 6px;
    position: absolute;
    bottom: -4.5rem;
    display: flex;
    flex-direction: column;
    cursor: default;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

.notifiction-dropdown-Request-Cont{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text);
    background: var(--bg-card);
    padding: .5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.notifiction-dropdown-Request-name{
    font-size: 17px;
    font-weight: bold;
    margin-right: .5rem;  
}
.notifiction-dropdown-Request-image{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: .3rem;
    margin-right: .5rem;
}
.notifiction-dropdown-Request-accept,.notifiction-dropdown-Request-reject{
    cursor: pointer;
    margin-left: .5rem;
}



.setting-dropdown-button{
    width: 77%;
    margin: auto;
   padding-top: .75rem;
   padding-bottom: .75rem;
   padding-left: .3rem;
   padding-right: .3rem;

background: #2A72DE;
border-radius: 6px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
color: white;
border: none;
cursor: pointer;
}

.navbar-changeThemeIcon{
    font-size: 1.3rem;
    color: var(--change-theme);
}
