.event-box{
    margin-top: 20px;
    /* border: solid 2px black; */
    border-radius: 24px;
    height: 175px;
    width: 45%;
    justify-content: center;
    margin: 15px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: aqua; */
    background-color: rgb(18, 18, 18);

}


.attend-event-btn{
    width: 140px;
    /* border-radius: 24px; */
    /* background-color: rgb(18, 18, 18); */
    border-radius: 85.527px;
    background: var(--blue, linear-gradient(97deg, #00B3FF 57.09%, #4CC9FF 100%));    
    margin-top: 10px;
    padding: 3px;
    color: var(--black, #000);
    text-align: center;
    font-size: 15.68px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.314px;
}

.event-btn:hover{
    cursor: pointer;
}


 /* .event-title{
    display: flex;
    flex-direction: row;
} */

.event-detail-btn{
    margin: 2px 2px;
    width: 80px;
    border-radius: 24px;
    border: solid 1px white;
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 5px;

}


