.progress_container {
  display: flex;
  flex-direction: column;
}

.progress_container > h3 {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: var(--main-text);
}

.progress_container > p {
  font-weight: 600;
  font-size: 12.5px;
  width: 90%;
  margin: 0.7rem 0;
  line-height: 19px;
  color: var(--sub-text);
}

.complete_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progressbar {
  width: 100%;
  background-color: #d9d9d9;
  height: 12px;
  border-radius: 10px;
  margin-bottom: 1rem;
  /* transition: all 0.3s ease-in; */
}

.progressbar > div {
  background-color: #3b7de1;
  transition: all 0.7s ease-in;
  height: 12px;
  border-radius: 10px;
}

.complete_profile > span {
  font-weight: 700;
  font-size: 17.2231px;
  line-height: 9px;
  text-align: center;
  color: var(--main-text);
}

.complete_profile > button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 9px;
  color: #2a72de;
}
