.card{
    background-color: #1a1e28;
    margin-bottom: 1.5rem;
    border-radius: 11px;
    padding: 1rem;
}
.cardTop{
   display: flex; 
}
.cardTopUserImage{
    display: flex;
   
}
.info{
   width: 100%;
    margin: auto;
    margin-left: 1rem;
}