.mentor {
  background-color: #030b18;
  width: 100%;
  color: #fff;
}
.wrapper {
  display: flex;
  display: flex;
  flex-direction: column;
  padding: 5rem 5rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.header > div {
  font-family: "Reem Kufi", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.2;
}
.search {
  display: "inline-block";
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  padding-right: 2rem;
  position: relative;
}

.search > input {
  letter-spacing: 0.025rem;
  background-color: #1a1e28;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  width: 15rem;
  height: 1.5rem;
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* align-items: center; */
}
.search > button {
  position: absolute;
  top: "60%";
  left: 60%;
  border: "none";
  cursor: "pointer";
  background-color: "transparent";
  right: "0.5rem";
  /* transform: "translateY(-50%)"; */
}
.search > button > img {
  width: 1.5rem;
}
.header > div > span {
  color: #4cc9ff;
}

/* -----------------Slider-------------------- */
.slider {
  /* display: flex; */
  /* gap: 1rem; */
  /* padding-bottom: 1rem; */
}
.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 5rem;
}
.sliderContainer > p {
  font-size: 1.8rem;
  font-family: Reem Kufi;
  font-weight: 700;
}
/*   Card */
.card {
  border-radius: 16.468px;
  background: var(--bg-primary-blue, #0c1631);
  margin: 1rem;
  display: flex;
  width: 36rem;
  height: 20rem;
  font-size: 1rem;
  padding: 1.5rem 0rem;
}
.cardLeftContent {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 0.125rem solid rgba(55, 58, 63, 0.5);
}
.leftMainImage {
  width: 7.3rem;
}

.leftMainImage > img {
  width: 100%;
  border-radius: 100%;
}
.LeftCardtextContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.LeftCardtextContent > p:nth-child(1) {
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 0.04rem;
  line-height: 1.1;
}
.LeftCardtextContent > p:nth-child(2) {
  color: var(--gray, #a7a7a7);
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0.025rem;
}
.cardIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.cardIcon > img {
  cursor: pointer;
}
.cardRightContent {
  flex: 4;
}
text{
  font-size: 1.2rem;
}
.rightCardMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 1rem;
  padding: 0rem 2rem;
}
.rightCardMain > p {
  font-size: 1rem;
  font-family: Poppins;
  line-height: 1.2;
}
.CardProfilekills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}
.skill {
  border-radius: 50px;
  border: 1px solid var(--white, #fff);
  padding: 0.4rem 0.75rem;
  font-family: Poppins;
  font-size: 0.75rem;
  margin: 0.1rem 0;
}
.amountToPay {
  margin-top: 1rem;
  display: flex;
  width: 8rem;
  padding: 0.4rem 1rem;
  align-items: flex-start;
  border-radius: 50px;
  border: 2px solid var(--white, #fff);
}
.schedule {
  margin-top: 1rem;
  padding: 0.4rem 1.5rem;
  border-radius: 100px;
  background: var(--blue, linear-gradient(97deg, #00b3ff 57.09%, #4cc9ff 100%));
  color: #000;
  text-align: center;
  font-size: 1.25rem;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}

/* ------------------------------------ */
.categoryWrapper {
  /* gap: 1rem; */
  margin-bottom: 2.5rem;
}
.categoryWrapper > p {
  font-size: 1.8rem;
  font-family: Reem Kufi;
  font-weight: 700;
}
.categoryWrapper > p > span {
  color: #4cc9ff;
}
.categoryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 2rem;
}

/* --------------------Media query------------------ */
@media (max-width: 768px) {
  .wrapper {
    padding: 0 2rem;
    padding-top: 3rem;
  }
  .header {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
    gap: 2rem;
  }
  .header > div {
    font-size: 1.8rem;
  }
  .header > div:nth-child(2) > input {
    font-size: 1rem;
  }
  .card {
    width: 40rem;
  }
  .categoryCard {
    width: calc(50% - 0.5rem);
    margin-top: 1rem;
  }
  .categoryWrapper {
    margin-bottom: 1.5rem;
  }

  .categoryWrapper > p {
    font-size: 1.6rem;
  }

  .categoryContainer {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: 1rem;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 0 1rem;
    padding-top: 2rem;
  }
  .header {
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }
  .header > div {
    font-size: 2rem;
  }
  .header > div:nth-child(2) > input {
    font-size: 0.875rem;
  }
  .sliderContainer,
  .categoryWrapper > p {
    margin-bottom: 3rem;
  }
  .sliderContainer > p {
    font-size: 1.5rem;
  }
  .card {
    width: 21rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 37rem;
  }
  .cardLeftContent,
  .cardRightContent {
    border-right: none;
  }
  .leftMainImage {
    width: 6rem;
  }
  .leftMainImage > img {
    width: 100%;
    border-radius: 100%;
  }
  .rightCardMain > p {
    font-size: 1rem;
  }
  .categoryCard > p {
    font-size: 1.25rem;
  }
  .categoryCard {
    width: calc(50% - 0.5rem);
    margin-top: 1rem;
  }
  .categoryWrapper {
    margin-bottom: 1rem;
  }

  .categoryWrapper > p {
    font-size: 1.4rem;
  }

  .categoryContainer {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: 0.5rem;
  }
}
