.card{
    width: 370px;
    height: 370px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin: auto;
  margin-bottom: 2.5rem;
  background-color: var(--bg-card);
  border-radius: 21px;
}
.cardTop{
    display: flex;
    padding: .5rem;
}

.cardTopUserImage{
    width: 95%;
    height: 230px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.cardBottomTop{

    padding: .5rem;
}
.cardBottom{
    display: flex;
    padding: 1rem;
}
.cardPrice{
    width: 50%;
    margin-right: 1rem; 
}
.tag{
width: 25%;
margin-right: 1rem;
}
.tagCont{
    display: flex;
    padding-left: .5rem;
}
.cardButton{
    width: 50%;
}