@import url(https://fonts.googleapis.com/css?family=Philosopher:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark-theme {
  --navbar-clr: linear-gradient(
    157.59deg,
    #2f2f2f 0%,
    #2f2f2f 13.08%,
    #373737 24.6%,
    #3e3e3e 42.39%,
    #4e4e4e 56%,
    #525252 70.13%,
    #5d5d5d 82.69%,
    #656565 91.17%,
    #737373 100.49%
  );
  --bg-dark-blue:#030b18;
  --bg-light-blue:  #0c1631;
  --sidebar-hover: #494949;
  --main-text: white;
  --blue-text:#00b2ff; 
  --sub-text: #ffffffe6;
  --bg-clr: #373737;
  /* --bg-clr: linear-gradient(
    157.59deg,
    #2f2f2f 0%,
    #2f2f2f 13.08%,
    #373737 24.6%,
    #3e3e3e 42.39%,
    #4e4e4e 56%,
    #525252 70.13%,
    #5d5d5d 82.69%,
    #656565 91.17%,
    #737373 100.49%
  ); */
  --bg-card: #3e3e3e;
  --card-border: #888080;
  --bg-small-card: #555555;
  /* --bg-card: rgb(40, 39, 39); */
  --comment-card-div: rgb(40, 39, 39);
  --knowledge-card: rgb(40, 39, 39);
  --bg-dashboard-card: rgb(75, 71, 71);
  --bg-sub-card: #4b4747;
  --box-shadow: white;
  --comment-card: #787878;
  --comment-card-placeHolder: white;
  --change-theme: white;
  --profile-input: rgb(40, 39, 39);
  --user-profile-indicator: white;
  --user-profile-sub-indicator: rgba(255, 255, 255, 0.703);
  --navbar-scroll-bg: rgba(0, 0, 0, 0.8);
  --btnNewColorTheme: white;
  --dashbaord-btn-text: #ffffff;
  /* --navbar-scroll-bg: linear-gradient(
    157.59deg,
    #2f2f2f 0%,
    #2f2f2f 13.08%,
    #373737 24.6%,
    #3e3e3e 42.39%,
    #4e4e4e 56%,
    #525252 70.13%,
    #5d5d5d 82.69%,
    #656565 91.17%,
    #737373 100.49%
  ); */
}
.light-theme {
  --navbar-clr: linear-gradient(
    157.59deg,
    #ffffff 0%,
    #d9e4f4 37.68%,
    #c7daf5 43.96%,
    #d0e0f8 55.48%,
    #dde9fc 64.37%,
    #e3eefd 75.37%,
    #e9f2ff 100.49%
  );
  --sidebar-hover: #ebf0fe;
  --bg-small-card: #fafcff;
  --main-text: #202020;
  --sub-text: rgb(32, 32, 32, 0.75);
  --bg-clr: #fbfbfb;
  /* --bg-clr: linear-gradient(
    157.59deg,
    #ffffff 0%,
    #d9e4f4 37.68%,
    #c7daf5 43.96%,
    #d0e0f8 55.48%,
    #dde9fc 64.37%,
    #e3eefd 75.37%,
    #e9f2ff 100.49%
  ); */

  --knowledge-card: #f6f6f6;
  /* --bg-card: #fafcff; */
  --card-border: #efefef;
  --bg-card: #fafcff;
  --comment-card-div: rgba(217, 217, 217, 0.9);
  --bg-dashboard-card: #fafaff;
  --bg-sub-card: #fafaff;
  --box-shadow: rgb(0 0 0 / 25%);
  --comment-card: white;
  --comment-card-placeHolder: black;
  --change-theme: black;
  --profile-input: #f6f6f6;
  --user-profile-indicator: #2a72de;
  --user-profile-sub-indicator: rgba(42, 114, 222, 0.5);
  --navbar-scroll-bg: rgba(255, 255, 255, 0.8);
  --btnNewColorTheme: #2a72de;
  --dashbaord-btn-text: #2a72de;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(167.37deg, #020e2c 9.15%, #09245e 64.83%); */
  /* background: rgba(246, 246, 246, 1); */
  background: var(--bg-clr);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* css code for the user space modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.menu label{
  margin-right: 27px;
}
.menu p{
  margin-top: 10px;

}
.modal-content button{
  background-color: #2a72de;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.modal-content button:hover {
  background-color: #1757a8;
}


