.card_container {
  width: 97%;
  height: 325px;
  background: #f2f2f2;
  border: 0.370588px solid #b0b0b0;
  border-radius: 30px;
}

.card_img {
  text-align: center;
  width: 100%;
  height: 70%;
}

.card_img > img {
  /* aspect-ratio: 2; */
  border-radius: 30px 30px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card_titlenlikes {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-top: 1rem;
}

.card_titlenlikes > p {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  letter-spacing: 0.03em;
}

.likesndwnld {
  display: flex;
  gap: 1rem;
  margin-top: 0.4rem;
}

.likesndwnld > div {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 0.7rem;
  color: #a7a7a7;
  font-weight: 700;
  font-size: 15px;
}
