@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
.outerCont{
    width: 100%;
    min-height: 100%;
    border-top-right-radius: 32px;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 32px
}
.innerCont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 0, 0,.5);
}